table{
    border: 3px solid #b2e8b2;
    background-color: #010136;
    color: #b2e8b2;
    font-size: 20px;
    border-radius: 10px;
    margin-left: 300px;
    width: 900px;
    margin-top: 30px;
    position: absolute;
    top: 800px;
}


td {
    padding: 10px;
    text-align: center;
}
tr{
    padding: 10px;
}
button[type="clean"]{
    margin-top: 20px;
    margin-left: 440px;
}

.dot {
    position: absolute;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: #8b0000;
    pointer-events: none;
}