button[type="exit"] {
    width: auto;
    position: absolute;
    top: 0;
    right: 0;
}
img{
    background-color: #65a465;
    border-radius: 10px;
    border: 3px solid #b2e8b2;
    display: inline-block;
    margin-left: 550px;
    margin-top: 30px;

}
